<% if @task.errors.any? %>
  <p><%= @task.errors.count %>件のエラーがあります</p>
  <% @task.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
<% end %>

<%= form_with(model: @task, local: true) do |f| %>
  <table>
    <tr>
      <th><%= f.label :name %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :description %></th>
      <td><%= f.text_area :description %></td>
    </tr>
  </table>
  <%= f.submit '登録する' %>
<% end %>

<%= link_to '一覧に戻る', tasks_path %>
