<h2>タスク詳細</h2>

<table class="task_show_table">
  <% if @task.labellings.present? %>
    <tr>
      <th>ラベル</th>
      <% @task.labels.each do |label| %>
        <td class="badge badge-primary"><%= label.name %></td>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <th>タスク名</th>
    <td><%= @task.name %></td>
  </tr>
  <tr>
    <th>詳細</th>
    <td><%= @task.description %></td>
  </tr>
  <tr>
    <th>終了期限</th>
    <td><%= @task.deadline %></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td><%= @task.status %></td>
  </tr>
  <tr>
    <th>優先順位</th>
    <td><%= @task.priority %></td>
  </tr>
  <tr>
    <th>作成日</th>
    <td><%= @task.created_at.strftime("%Y-%m-%d") %></td>
  </tr>
  <tr>
    <th>添付ファイル</th>
    <% @task.pdfs.each do |pdf| %>
      <td><%= link_to pdf.filename, rails_blob_path(pdf) %></td>
    <% end %>
  </tr>
</table>

<%= link_to '一覧に戻る', tasks_path, class: 'btn btn-info' %>
