<h2>トップページ</h2>
<% if logged_in? %>
  <h3>是非タスク管理アプリをご利用ください！</h3>
  <%= link_to 'あなたのタスク一覧', tasks_path, class: 'btn btn-info' %>
  <%= link_to 'タスク新規登録', new_task_path, class: 'btn btn-success' %>
  <%= link_to 'グループ作成はこちら', new_group_path, class: 'btn btn-primary' %>
  <%= link_to 'グループ一覧', groups_path, class: 'btn btn-default' %>
  <%= link_to 'ラベル一覧', labels_path, class: 'btn btn-warning' %>
<% else %>
  <%= link_to 'ログインはこちら', new_session_path, class: 'btn btn-primary btn-block btn-lg btn-tops' %>
  <%= link_to '初めての方はこちら', new_user_path, class: 'btn btn-default btn-block btn-lg btn-tops' %>
<% end %>
